.not-authorized {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-family: var(--font-body);
  color: var(--clr-black);
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.not-authorized__springgreen {
  width: 1rem;
  height: auto;
  margin-left: 20rem;
  transform: rotate(90deg);
}

.not-authorized__content {
  flex: 1;
  text-align: left;
  padding-right: 2rem;
  margin-top: 15rem;
}

.not-authorized__modal {
  .authmodal {
    flex: 1;
    display: flex;
    justify-content: center;
    background: none;
    margin-left: 23rem;
  }
}

.not-authorized__title {
  font-size: clamp(3rem, 5vw, 4rem);
  color: var(--clr-deep-purple);
  font-weight: bold;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}

.not-authorized__text {
  font-size: 1.2rem;
  color: var(--clr-black);
  margin: 1rem 0;
  line-height: 1.5;
}

.not-authorized__button-container {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}

.not-authorized__button {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--clr-white);
  background-color: var(--clr-deep-purple);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  text-decoration: none;
}

.not-authorized__button:hover {
  background-color: var(--clr-deep-purple);
  transform: translateY(-3px);
}
