.contact-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact-form__field {
  position: relative;
}

.contact-form__field-legend {
  position: absolute;
  top: -0.8rem;
  left: 15%;
  transform: translateX(-50%);
  background-color: var(--clr-white);
  padding: 0 0.9rem 0 0.3rem;
  font-size: 1.25rem;
  font-family: var(--font-body);
}

.contact-form__field-legend3 {
  position: absolute;
  top: -0.8rem;
  left: 21%;
  transform: translateX(-50%);
  background-color: var(--clr-white);
  padding: 0 0.9rem 0 0.3rem;
  font-size: 1.25rem;
}

.input-field {
  width: 92%;
  border: 2px solid var(--clr-lavender);
  border-radius: 10px;
  padding: 0.75rem;
  font-family: var(--font-body);
  font-size: 1rem;
  outline: none;
  transition:
    border-color 0.3s,
    box-shadow 0.3s; /* Ajoute une transition pour la surbrillance */
  background-color: var(--clr-white);
}

/* Bordure rouge pour les erreurs */
.input-field.error-border {
  border-color: red;
}

/* Bordure lavande pour les champs valides */
.input-field.good-border {
  border-color: var(--clr-lavender);
}

/* Mise en surbrillance lors du focus */
.input-field:focus {
  border-color: var(--clr-deep-purple);
  box-shadow: 0 0 3px var(--clr-deep-purple);
}

textarea.input-field {
  height: 6.25rem;
  resize: none;
}

.contact-form__newsletter {
  display: flex;
  gap: 0.5rem;
}

.contact-form__newsletter input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  accent-color: var(--clr-deep-purple);
  margin-right: 0.5rem;
}

.contact-form__newsletter label {
  font-size: 1.25rem;
  font-family: var(--font-body);
}

.contact-form__send-buttons {
  display: flex;
  gap: 2rem;
}
